<% if @results.present? %>
  <ul class='item-lists'>
    <% @results.each do |post| %>
      <%= link_to post_path(post) do %>
        <% if post.image.attached? %>
        <%= image_tag post.image.variant(resize:'300x300') %> <br>
        <% end %>
      <% end %>
      <%= post.name %>
      <%= post.area.name %>
      <%= post.genre.name %>
      <%= post.scene.name %>
      <%= post.introduction %>
      <%= link_to user_path(post.user) do %>
        <%= image_tag post.user.image.variant(resize:'100x100') %> 
      <% end %>
    <% end %>
  </ul>
<% else %>
  <ul>
    <p>一致する商品がありません。条件を変えて検索してみよう！</p>
    <% @posts.each do |post| %>
      <li>
      <%= link_to post_path(post) do %>  
        <% if post.image.attached? %>
        <%= image_tag post.image.variant(resize:'300x300') %> 
        <% end %>
      <% end %>
      </li>
      <li><%= post.name %></li>
      <li><%= post.area.name %></li>
      <li><%= post.genre.name %></li>
      <li><%= post.scene.name %></li>
      <li><%= post.introduction %></li>
      <li><%= link_to user_path(post.user) do %>
            <%= image_tag post.user.image.variant(resize:'100x100') %> 
          <% end %></li>
    <% end %>
  </ul>
<% end %>