<div class ="container mb-5 text-center">
  <div class ="row">
    <div class ="col-12 text-center">
      <%= render "public/users/user_image", user: @user %>
      <div class ="text-center"><%= @user.name %></div>
      <div class ="user_btn mb-2">
        <% if @user == current_user %>
          <%= link_to "Edit Article",edit_post_path(@post),class:"btn btn-sm btn-success" %>
        <% elsif admin_signed_in? %>
          <%= link_to "Destroy",post_path(@post),method: :delete,data: { confirm: 'Do you really want to delete this?' },class: 'btn btn-danger mt-1' %>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>
  <div class ="row text-center">
    <div class ='col-lg-2'></div>
    <div class ='col-lg-8 text-center'>
      <span class ='area_tag tag'><%= @post.area.name %></span>
      <span class ='genre_tag tag'><%= @post.genre.name %></span>
      <span class ='scene_tag tag'><%= @post.scene.name %></span>
      <%= link_to post_path(@post) do %>
        <% if @post.image.attached? %>
          <%= image_tag @post.image,class: 'post_image post_show_image' %> 
        <% else %>
          <%= image_tag no_image.jpeg,class: 'post_image post_show_image' %>
        <% end %>
      <% end %>
      <div class ="d-flex">
      <div id="post_<%= @post.id %>"><%= render "public/favorites/favorite", post: @post %></div>
      <div id="comment_count<%= @post.id %>"><%= render partial: 'public/comments/count', locals: { post: @post } %></div>
      </div>
      <div class ="post_show_name"><%= @post.name %></div>
      <div class ="introduction post_introduction m-auto"><%= @post.introduction %></div>
      <div class ="mt-2">
        <div id="comment_form">
          <%= render partial: 'public/comments/form', locals: { comment: @comment, post: @post } %>
        </div>
        <div class ="mt-5">
          <div id="comment_area"><%= render partial: 'public/comments/index', locals: { comments: @comments } %></div>
          <%= paginate @comments %>
        </div>
      </div>
    </div>
    <div class ='col-lg-2'></div>
  </div>
  
</div>

