<%= link_to user_path(@user) do %>
   <%= image_tag @user.image.variant(resize:'300x300') %> 
<% end %>
<% if @post.image.attached? %>
    <%= image_tag @post.image.variant(resize:'300x300') %> <br>
<% end %>
<%= @post.name %>
<%= @post.area.name %>
<%= @post.genre.name %>
<%= @post.scene.name %>
<%= @post.introduction %>

 <div id="post_<%= @post.id %>"><%= render "public/favorites/favorite", post: @post %></div>

<div>
  <% if @user == current_user %>
  <%= link_to "投稿編集画面へ",edit_post_path(@post) %>
  <% end %>
</div>

<div>
<div id="comment_count"><%= render partial: 'public/comments/count', locals: { post: @post } %></div>
<% @post.comments.each do |comment| %>
  <div id="comments_area">
    <%= render partial: 'public/comments/index', locals: { comment: comment } %>
  </div>
<% end %>
<div id="comment_form">
  <%= render partial: 'public/comments/form', locals: { comment: @comment, post: @post } %>
</div>
</div>

  
