<%= link_to user_path(@user) do %>
   <%= image_tag @user.image.variant(resize:'300x300') %> 
<% end %>
<% if @post.image.attached? %>
    <%= image_tag @post.image.variant(resize:'300x300') %> <br>
<% end %>
<%= @post.name %>
<%= @post.area.name %>
<%= @post.genre.name %>
<%= @post.scene.name %>
<%= @post.introduction %>

<div>
  <% if @user == current_user %>
  <%= link_to "投稿編集画面へ",edit_post_path(@post) %>
  <% end %>
</div>
