<p><%= link_to user_path(comment.user) do %>
     <%= image_tag comment.user.image.variant(resize:'300x300') %> 
     <% end %></p>
  <%= comment.user.name %>
  <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% if comment.user == current_user %>
  <div>
    <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, remote:true %>
  </div>
  <% end %>