 <% if chat.user_id == current_user.id %>
  <tbody>
    <tr>
      <td>
        <div class ="talking d-flex">
        <figure class="talking-left_icon">
          <%= link_to user_path(chat.user) do %>
            <% if chat.user.image.attached? %>
              <%= image_tag chat.user.image,class:'user_icon' %>
            <% else %>
              <h3 class ="mt-2 user_icon"></h1>
            <% end %>
          <% end %>
          <figcaption><%= current_user.name %></figcaption>
        </figure>
        <div class ="talking-left">
          <p class ="chat_wrap">
          <%= chat.created_at.strftime('%Y/%m/%d') %><br><%= chat.message %>
          <%= link_to chat_path(chat), method: :delete, remote:true do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
          </p>
        </div>
        </div>
      </td>
    </tr>
  <% else %>
    <tr>
      <td>
        <div class = "talking d-flex">
        <div class ="talking-right"> 
          <p class ="chat_wrap">
            <%= chat.created_at.strftime('%Y/%m/%d') %><%= chat.message %>
          </p>
        </div>
        <figure class="talking-right_icon">
          <%= link_to user_path(chat.user) do %>
            <% if chat.user.image.attached? %>
              <%= image_tag chat.user.image,class:'user_icon' %>
            <% else %>
              <h1 class ="mt-2 user_icon"></h1>
            <% end %>
          <% end %>
          <figcaption><%= chat.user.name %></figcaption>
        </figure>
        </div>
      </td>
    </tr>
  </tbody>
  <% end %>
  
    
  