<div id="chat_form">
  <%= render partial: 'public/chats/form', locals: { chat: @chat} %>
</div>

<h2>CHAT WITH <%= @user.name %></h2>

<table class="message table">
  <thead>
    <tr>
      <th style="text-align: left; font-size: 20px;"><%= current_user.name %></th>
      <th style="text-align: right; font-size: 20px;"><%= @user.name %></th>
    </tr>
  </thead>
  <% @chats.each do |chat| %>
    <div id="chats_area">
      <%= render partial: 'public/chats/chat', locals: { chat: chat } %>
    </div>
  <% end %>
</table>