<div class ="container mb-5">
  <div class ="row">
    <h1 class ="col-12 text-center mt-5">Scene List</h1>
     <% if @scene.errors.any? %>
    <div class ="col-12 text-center">
      <%= @scene.errors.count %> errors have occurred<br>
      <% @scene.errors.full_messages.each do |message| %>
        <%= message %><br>
      <% end %>
    </div>
    <% end %>
    <div class ="col-12 text-center mt-2">
    <%= form_with model:@scene,url: admin_scenes_path(@scene),method: :post,local:true do |f| %>
      <%= f.text_field :name, autofocus: true %>
      <%= f.submit "send" %>
    <% end %>
    <table class ="admin_table col-12 text-center mt-5">
      <thead>
        <th class ="admin_th">scene name</th>
        <th class ="admin_th"></th>
        <th class ="admin_th"></th>
      </thead>
      <tbody>
      <% @scenes.each do |scene| %>
        <tr>
         <td class ="admin_td"><%= scene.name %>
         <td class ="admin_td"><%= link_to "Edit",edit_admin_scene_path(scene),class:"btn btn-sm btn-success" %></td>
         <td class ="admin_td"><%= link_to "Destroy",admin_scene_path(scene),method: :delete,data: { confirm: 'Do you really want to delete this?' },class: 'btn btn-sm btn-danger' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>  
    <%= paginate @scenes %>
    </div>
  </div>
</div>
