<div class ="container mb-5">
  <div class ="row">
    <h1 class ="col-12 text-center mt-5">Area List</h1>
    <div class ="col-12 text-center mt-2">
    <%= form_with model:@area,url: admin_areas_path(@area),method: :post,local:true do |f| %>
      <%= f.text_field :name, autofocus: true %>
      <%= f.submit "send" %>
    <% end %>
    <table class ="admin_table col-12 text-center mt-5">
      <thead>
        <th class ="admin_th">area name</th>
        <th class ="admin_th"></th>
        <th class ="admin_th"></th>
      </thead>
      <tbody>
       <% @areas.each do |area| %>
       <tr>
         <td class ="admin_td"><%= area.name %></td>
         <td class ="admin_td"><%= link_to "Edit",edit_admin_area_path(area),class:"btn btn-sm btn-success" %></td>
         <td class ="admin_td"><%= link_to "Destroy",admin_area_path(area),method: :delete,data: { confirm: 'Do you really want to delete this?' },class: 'btn btn-sm btn-danger' %></td>
       </tr>
       <% end %>
      </tbody>
    </table>  
    <%= paginate @areas %>
    </div>
  </div>
</div>
