<h1>ユーザー編集画面</h1>
<%= form_with model:@user,url: user_path,method: :patch,local: :true do |f| %>
  <%= f.file_field :image %>
  <%= f.text_field :name, autofocus: true %>
  <%= f.text_field :email, autofocus: true %>
  <%= f.text_field :introduction, autofocus: true %>
  <%= f.submit :ユーザー情報を変更する %>
<% end %>

<%= link_to "退会する",unsubscribe_users_path %>