<h1>マイページ</h1>
<% if @user.image.attached? %>
<%= image_tag @user.image.variant(resize:'300x300') %>
<% else %>
<%= image_tag 'no_image.jpeg' %>
<% end %>
<div><%= @user.name %></div>
<div><%= @user.introduction %></div>

<div><%= link_to "ユーザー編集画面へ",edit_user_path(@user) %></div>

<%= link_to new_post_path do %>
<i class="fas fa-camera-retro"></i>
<% end %>