<header class ='mb-2'>
  <nav>
    <div class="drawer">
      <h2><%= link_to "TravelMania",root_path,class: 'site_logo' %></h2>
    </div>
  <div class="menu">
  <ul> 
  <% if user_signed_in? %>
    <li>
      <%= link_to "行きたい場所をマッチングする",root_path %>
    </li>
    <li>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </li>
    <li>
      <%= link_to "マイページ", user_path(id: current_user) %>
    </li>
    <li>
      <%= link_to "メッセージ", chats_path %>
    </li>
    <% if current_user.passive_notifications.where(checked: false).any? %>
      <i class="fa fa-circle" style="color: gold;"></i>
    <% end %>
    <li>
      <%= link_to "NOTICE", notifications_path, class: "btn-default" %>
    </li>
  <% elsif admin_signed_in? %>
    <li>
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
    </li>
    <li>
      <%= link_to "地域一覧", admin_areas_path %>
    </li>
    <li>
      <%= link_to "ジャンル一覧", admin_genres_path %>
    </li>
    <li>
      <%= link_to "利用シーン一覧", admin_scenes_path %>
    </li>
    <li>
      <%= link_to "会員一覧", admin_users_path %>
    </li>
  <% else %>
    <li>
      <%= link_to "行きたい場所をマッチングする",root_path %>
    </li>
    <li>
      <%= link_to "新規登録",  new_user_registration_path %>
    </li>
    <li>
      <%= link_to "ログイン", new_user_session_path %>
    </li>
  <% end %>
  </ul>
  </div>
  </nav>
</header>